<ion-header>
	<ion-navbar>
		<ion-title *ngIf="types == 'Contact'">{{'Contact Us' | translate}}</ion-title>
		<ion-title *ngIf="types == 'Support'">{{'Feedback' | translate}}</ion-title>
	</ion-navbar>
	
	<ion-toolbar color="white" class="cs-toolbar">
		<div>
			<ion-segment [(ngModel)]="types"  >
				<ion-segment-button value="Contact" >
					<span class="black capitalize">{{ 'Contact Us' | translate }}</span>
				</ion-segment-button>
				
				<ion-segment-button value="Support"   >
					<span class="black capitalize">{{ 'Feedback' | translate }}</span>
				</ion-segment-button>
			</ion-segment>
		</div>
	</ion-toolbar>
</ion-header>
<ng-container [ngSwitch]="types">
	<ion-content padding>


		<div class="nev-adjust" *ngSwitchCase="'Contact'">
			<div class="background hp100">
				<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d7606940.882278135!2d87.75685483869535!3d21.41640390770388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x375a5976d1d96c73%3A0xf97d59ef0961209!2sMAX%20CEMENT%2C%202%2C%20GS%20Rd%2C%20Chilarai%20Nagar%2C%20Guwahati%2C%20Assam%20781007!3m2!1d26.1670025!2d91.76665419999999!5e0!3m2!1sen!2sin!4v1646731593578!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>
			
			<div class="cs-nevigation">
				<div class="map-main" >
					<div class="map-content"  >
						<div class="nevigation">
							<i class="material-icons">near_me</i>
						</div>
						<div class="location brd-btm" >
							<i class="material-icons">location_on</i>
							<p>209 & 211 'LORDS', 7/1 Lord Sinha Road,Kolkata - 700 071</p>
						</div>
						<div class="location">
							<i class="material-icons">phone</i>
							<a href="tel:18001214544">18001214544</a>
						</div>
						<div class="location">
							<i class="material-icons">email</i>
							<a href="mailto:admin.sfm@gnggroup.in">admin.sfm@gnggroup.in</a>
						</div>
						<div class="location">
							<i class="material-icons">language</i>
							<a href="https://www.maxcement.co.in">maxcement.co.in</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		<ng-container *ngSwitchCase="'Support'">
			<form #f='ngForm' (submit)=" f.form.valid ? submit(f):''">
				
				<div class="cs-form main-padding-16">
					<ion-list>
						<ion-item class="cs-select" [ngClass]="{'error':f.submitted && category?.invalid}">
							<ion-label >{{'Category' | translate}} *</ion-label>
							<ion-select name="category" [(ngModel)]="data.category" #category="ngModel" required>
								<ion-option *ngFor="let row of Support_Type" value="{{row.category_name}}">{{row.category_name}}</ion-option>
							</ion-select>
						</ion-item>
						<div *ngIf="f.submitted && category.invalid" class="invalid-feedback">
							<div *ngIf="category.errors.required">{{'Field is Required' | translate}}</div>
						</div>
						
						<ion-item class="cs-input mt16" [ngClass]="{'error':f.submitted && remark?.invalid}">
							<ion-label floating>{{'Remark' | translate}} *</ion-label>
							<ion-textarea type="text" name="remark" #remark="ngModel" [(ngModel)]="data.remark" required style="height: 80px;"></ion-textarea>
						</ion-item>
						<div *ngIf="f.submitted && remark.invalid" class="invalid-feedback">
							<div *ngIf="remark.errors.required">{{'Field is Required' | translate}}</div>
						</div>
					</ion-list>
					
					
					<div class="uploade-image">
						<ul>
							<li *ngFor="let row of selImages; let i=index">
								<img src="{{row.id ? uploadUrl+row.image : row.image}}">
								<span class="cancel-icon">
									<i class="material-icons crose-icon" (click)="delete_img(i)">clear</i>
								</span>
							</li>
							<li class="add-bg-1" (click)="onUploadChange()">
								<i class="material-icons">add</i>
								<p >{{'Upload Images' | translate}}</p>
							</li>
						</ul>
					</div>
					
					
					<!-- <div class="uploade-image">
						<ul>
							<li *ngFor='let image of support_image;index as i' [ngClass]="{'active': siteform.profile_selected == row.id}">
								<img src="{{image}}">
								<span class="cancel-icon">
									<i class="material-icons crose-icon" (click)="delete_img(i)">clear</i>
								</span>
							</li>
							<li class="add-bg-1" (click)="onUploadChange()">
								<i class="material-icons">add</i>
								<p >{{'Upload Images' | translate}}</p>
							</li>
						</ul>
					</div> -->
					
					<button ion-button class="cs-btn mb0" >{{ 'Save' | translate }}</button>
				</div>
			</form>
			
			
			
			<div class="padding16">
				<!-- (click)="goOnSiteDetail(row.id)" -->
				<div class="cs-list" *ngFor="let row of Support_hist; let i = index;">
					<div class="top-block">
						<p>{{row.date_created |  date:'d MMMM y'}}</p>
						<!-- <ion-icon name="arrow-forward" color="secondary"  ios="ios-arrow-forward"></ion-icon> -->
					</div>
					<div class="middle-block">
						<div class="three-block pb0">
							<p>{{'Category' | translate}} : <strong>{{row.category | titlecase}}</strong></p>
							<p>{{'Status' | translate}} : <strong class="{{row.status}}">{{row.status | titlecase}}</strong></p>
						</div>
						<div class="three-block pb0">
							<p>{{'Description' | translate}} : <strong>{{row.remark |titlecase}}</strong></p>
						</div>
						
						<div class="three-block pb0" *ngIf='row.status=="Done"'>
							<p>{{'Resolving Remark' | translate}} : <strong>{{row.status_remark |titlecase}}</strong></p>
						</div>
					</div>
				</div>
				<!--     
					<div class="image-detail"  *ngIf="!data.length">
						<img src="assets/imgs/no_found.svg">
					</div> -->
				</div>
			</ng-container>
		</ion-content>
	</ng-container>