page-site-visit-add {
    .invalid-feedback{
        margin-top: -5px;
        margin-bottom: 10px;
    }

    textarea{
        height: 100%;
        margin: 12px !important;
        font-size: 14px;
    }
}
