<ion-header>
    <ion-navbar>
        <!-- <ion-title *ngIf="redeem_type == 'gift'">{{'Gift Request Status' | translate}}</ion-title> -->
        <ion-title>{{'Redeem Request Detail' | translate}}</ion-title>

    </ion-navbar>
</ion-header>

<ion-content padding *ngIf="redeem_type == 'gift'">
    <div class="margin-padding">
        <div class="phone">
            <div class="phone-head">
                <h1>{{gift_detail.gift_title}}</h1>
            </div>
            <img [src]="gift_detail.image" *ngIf="gift_detail.image">

            <img src="{{upload_url + gift_detail.gift_image}}" *ngIf="!gift_detail.image">

        </div>
        <div class="mt5" *ngIf="gift_detail.gift_specification != ''">
            <div><Strong>{{'Specification' | translate}} :</Strong> <span [innerHTML]="gift_detail.gift_specification"> </span></div>
        </div>
        <div class="mt5">
            <div>{{'Gift Status' | translate}} :
               <Strong class="{{karigar_gift.gift_status }}"> 
                    <span *ngIf="karigar_gift.gift_status != 'Reject'">
                    {{karigar_gift.gift_status}}
                     
                    </span>
                   <span *ngIf="karigar_gift.gift_status == 'Reject'">
                     <!-- {{karigar_gift.gift_status}} -->
                     Rejected
                   </span>
            </Strong>
        </div>
            <div class="mt5" *ngIf="karigar_gift.receive_status">{{'Receive Status' | translate}} : <Strong> {{karigar_gift.receive_status}}</Strong></div>
            <div class="mt5" *ngIf="karigar_gift.received_date != '0000-00-00'">{{'Receive Date' | translate}} : <Strong> {{karigar_gift.received_date | date:'d MMM y'}}</Strong></div>

        </div>
        <div class="mt5" *ngIf="karigar_gift.reject_reason">{{'Reject Reason' | translate}} : <Strong>{{karigar_gift.reject_reason}}</Strong></div>

        <div class="shipped-detail" >
            <div *ngIf="shipped_detail.shipped_type">
                <div class="content">
                    <p>{{'Shipped by' | translate}}</p>
                    <h1>{{shipped_detail.shipped_type}}</h1> 
                </div>
                <div class="content" >
                    <p>{{'Estimate delivery Date' | translate}}</p>
                    <h1>{{shipped_detail.estimated_date}}</h1>
                </div>
                <div class="content">
                    <p>{{'Shipping information' | translate}}</p>
                    <h1 [innerHTML]="shipped_detail.shipping_information" (click)="goto_link(shipped_detail.shipping_information)" ></h1>
                </div>
            </div>
        </div>
        <div class="shipped-detail mt10" >
            <div class="content edit-content">
                <p>{{'Shipping address' | translate}}</p>
                <a *ngIf="!shipped_detail.shipped_type && edit=='' && karigar_gift.gift_status=='Pending'" class="edit-field" (click)="edit='1'">
                    <i class="material-icons">create</i>
                </a>
                <h1 *ngIf="edit==''">{{karigar_gift.shipping_address}}</h1>
                <div *ngIf="edit=='1'">
                    <textarea palceholder="Shipping address" name="shipping_address " #shipping_address ="ngModel" [(ngModel)]="karigar_gift.shipping_address" ></textarea>
                    <button ion-item class="cs-btn btn-radius mb0 mt10" [disabled]="karigar_gift.shipping_address==''" (click)="editAddress()">Save</button>
                </div>
            </div>
        </div>
        
        <!-- <div class="chatus" *ngIf="karigar_gift.receive_status != 'Received'">
            {{'Changed your mind? Write to us' | translate}}
            <a (click)="openChat()">{{'Chat with us' | translate}}</a>
            {{'to cancel this gift redeem request.' | translate}}
        </div> -->
        
        
        <div class="fix-btn" *ngIf="receive_status == null">
            <button ion-item class="cs-btn btn-radius mb0" (click)="recvConfirmation(gift_detail.id)">{{'Click here if you recieve' | translate}}</button>
        </div>
    </div>
</ion-content>

<ion-content padding *ngIf="redeem_type == 'Cash'">
    <div class="margin-padding">
        
        <div class="mt5">{{'Title' | translate}} : <Strong> {{karigar_gift.gift_title}}</Strong></div>
        <div class="mt5">{{'Req. ID' | translate}} : <Strong> {{karigar_gift.invoice_id}}</Strong></div>
        <div class="mt5">{{'Amount' | translate}} : <Strong>₹ {{karigar_gift.gift_points}}</Strong></div>

        <div class="mt5">
            <div>{{'Cash Status' | translate}} :
               <Strong class="{{karigar_gift.gift_status }}"> 
                    <span *ngIf="karigar_gift.gift_status != 'Reject'">
                    {{karigar_gift.gift_status}}
                     
                    </span>
                   <span *ngIf="karigar_gift.gift_status == 'Reject'">
                     <!-- {{karigar_gift.gift_status}} -->
                     Rejected
                   </span>
            </Strong>
        </div>
        <div class="mt5" *ngIf="karigar_gift.reject_reason">{{'Reject Reason' | translate}} : <Strong class="{{karigar_gift.reject_reason}}">{{karigar_gift.reject_reason}}</Strong></div>

            <div class="mt5" *ngIf="karigar_gift.receive_status">{{'Receive Status' | translate}} : <Strong class="{{karigar_gift.gift_status}}"> {{karigar_gift.receive_status}}</Strong></div>
            <div class="mt5" *ngIf="karigar_gift.received_date != '0000-00-00'">{{'Receive Date' | translate}} : <Strong> {{karigar_gift.received_date | date:'d MMM y'}}</Strong></div>

        </div>
      
        
        
        <div class="fix-btn" *ngIf="receive_status == 'Transfer'">
            <button ion-item class="cs-btn btn-radius mb0" (click)="recvConfirmation(gift_detail.id, redeem_type)">{{'Click here if you recieve' | translate}}</button>
        </div>
    </div>
</ion-content>
<!-- {{gift_detail.gift_specification}} -->
