r<ion-header>
    <ion-navbar>
        <ion-title *ngIf="mode === 'edit_page'">{{'Update Profile' | translate}}</ion-title>
        <ion-title *ngIf="mode === 'otp_page'">{{'Registration' | translate}}</ion-title>
        <ion-title *ngIf="mode === 'redeem_page'">{{'Update Profile' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content >
    <div class="padding16" style="background:#f9f9f9;">
        <form #f="ngForm" (ngSubmit)="f.form.valid ? submit() : scrollUp()">
            
            <ion-list>
                <ion-list-header class="form-heading mt0" *ngIf="!data.id">
                    {{'Choose Type' | translate}}
                </ion-list-header>
                <ion-list radio-group name="user_type" [(ngModel)]="data.user_type" #user_type="ngModel" required *ngIf="!data.id">
                    <ion-item>
                        <ion-radio value="1" ></ion-radio>
                        <ion-label>{{'Max Bahubali (Contractor)' | translate}}</ion-label>
                    </ion-item>
                    
                    <ion-item>
                        <ion-radio value="4" ></ion-radio>
                        <ion-label>{{'Engineer' | translate}}</ion-label>
                    </ion-item>
                    
                    <ion-item>
                        <ion-label>{{'Channel Partner' | translate}}</ion-label>
                        <ion-radio value="2" ></ion-radio>
                    </ion-item>
                </ion-list>
                <ion-list-header class="form-heading">
                    {{'Basic Information' | translate}}
                </ion-list-header>
                
                
                <ion-item>
                    <div class="profile-circle" (click)="openeditprofile()">
                        <i class="material-icons" *ngIf="data.profile == ''">camera_alt</i>
                        <!-- <img [src]="data.profile" *ngIf="data.profile" required> -->
                        
                        <img *ngIf="data.profile != ''" src="{{data.profile_edit_id ? uploadurl+data.profile : data.profile}}">
                    </div>
                </ion-item>
                
                <ng-container  *ngIf="data.user_type=='2'">
                    <ion-item  [ngClass]="{'error':f.submitted && company_name?.invalid}">
                        <ion-label floating>{{'Firm Name' | translate}}.*</ion-label>
                        <ion-input  type="text" name="company_name" #company_name="ngModel" [(ngModel)]="data.company_name" required (keypress)="namecheck($event)"></ion-input>
                    </ion-item>
                    <div *ngIf="f.submitted && company_name.invalid" class="invalid-feedback">
                        <div *ngIf="company_name.errors.required">{{'Field is Required' | translate}}</div>
                    </div>
                </ng-container>
                
                
                <ion-item  [ngClass]="{'error':f.submitted && first_name?.invalid}">
                    <ion-label floating *ngIf="data.user_type=='1' || data.user_type=='4'">{{'Name' | translate}}*</ion-label>
                    <ion-label floating *ngIf="data.user_type=='2'">{{'Contact Person' | translate}}*</ion-label>
                    <ion-input   type="text" name="first_name" #first_name="ngModel" [(ngModel)]="data.first_name" (ngModelChange)="(data.first_name!=null)?data.first_name[0] = data.first_name[0].toUpperCase():''" (keypress)="namecheck($event)" required></ion-input>
                </ion-item>
                <div *ngIf="f.submitted && first_name.invalid" class="invalid-feedback">
                    <div *ngIf="first_name.errors.required">{{'Field is Required' | translate}}</div>
                </div>
                <!-- <ion-item  [ngClass]="{'error':f.submitted && last_name?.invalid}">
                    <ion-label floating>{{'Last Name' | translate}}</ion-label>
                    <ion-input type="text" name="last_name" #last_name="ngModel" [(ngModel)]="data.last_name" (ngModelChange)="(data.last_name!=null)?data.last_name[0] = data.last_name[0].toUpperCase():''" (keypress)="namecheck($event)" [ngClass]="{'error':f.submitted && last_name?.invalid}"
                    maxlength="10"></ion-input>
                </ion-item> -->
                
                
                <ion-item  [ngClass]="{'error':f.submitted && mobile_no?.invalid}">
                    <ion-label floating>{{'Mobile No' | translate}}.*</ion-label>
                    <ion-input type="number" name="mobile_no" #mobile_no="ngModel" [(ngModel)]="data.mobile_no" required (keypress)="MobileNumber($event)" readonly></ion-input>
                </ion-item>
                
                <ng-container *ngIf="data.user_type=='1' || data.user_type=='4'">
                    <ion-item [ngClass]="{'error':f.submitted && whatsapp_mobile_no ?.invalid}">
                        <ion-label floating>{{'Whatsapp No' | translate}}.</ion-label>
                        <ion-input type="tel" name="whatsapp_mobile_no" #whatsapp_mobile_no="ngModel" [(ngModel)]="data.whatsapp_mobile_no" min="0" maxlength="10" minlength="10"></ion-input>
                    </ion-item>
                </ng-container>
                
                <ng-container *ngIf="data.user_type=='2'">
                    <ion-item [ngClass]="{'error':f.submitted && whatsapp_mobile_no ?.invalid}">
                        <ion-label floating>{{'Whatsapp No' | translate}}.*</ion-label>
                        <ion-input  type="tel" name="whatsapp_mobile_no" #whatsapp_mobile_no="ngModel" [(ngModel)]="data.whatsapp_mobile_no" min="0" maxlength="10" minlength="10" required></ion-input>
                    </ion-item>
                    <div *ngIf="f.submitted && whatsapp_mobile_no.invalid" class="invalid-feedback">
                        <div *ngIf="whatsapp_mobile_no.errors.required">{{'Field is Required' | translate}}</div>
                    </div>
                </ng-container>
                
                <!--//////////////// importaint //////////////-->
                
                
                
                <div class="rel">
                    
                    
                    <ion-item  [ngClass]="{'error':f.submitted && dob?.invalid}">
                        <ion-label floating>{{'Date of Birth' | translate}}*</ion-label>
                        <ion-datetime displayFormat="DD/MM/YYYY" max={{today_date}} type="text" name="dob" #dob="ngModel" [(ngModel)]="data.dob" required>
                        </ion-datetime>
                    </ion-item>
                    <ion-icon name="close"  (click)="clearDOB()" *ngIf="!(data.dob =='' || data.dob == undefined) "></ion-icon>
                </div>
                
                <div class="rel">
                    <ion-item *ngIf="data.user_type=='2'">
                        <ion-label floating>{{'Date of Anniversary' | translate}}</ion-label>
                        <ion-datetime displayFormat="DD/MM/YYYY" max={{today_date}} type="text" name="doa" #doa="ngModel" [(ngModel)]="data.doa">
                        </ion-datetime>
                    </ion-item> 
                    <ion-icon name="close" (click)="clearDOA() "  *ngIf="!(data.doa =='' || data.doa == undefined) "></ion-icon>
                </div>
                <ion-item [ngClass]="{'error':(f.submitted && email?.invalid) || (f.submitted && !email.valid)}">
                    <ion-label floating>{{'Email ID' | translate}}</ion-label>
                    <ion-input type="email" name="email" #email="ngModel" [(ngModel)]="data.email" ></ion-input>
                </ion-item>
                
                <ion-list-header class="form-heading">
                    {{'Communication Address Information' | translate}}
                </ion-list-header>
                
                <ion-item [ngClass]="{'error':(f.submitted && address?.invalid) || (f.submitted && !address.valid)}">
                    <ion-label floating>{{'Address' | translate}}*</ion-label>
                    
                    <ion-input type="text" name="address" #address="ngModel" [(ngModel)]="data.address" (ngModelChange)="caps_add(data.address)" required></ion-input>
                </ion-item>
                <div *ngIf="f.submitted && address.invalid" class="invalid-feedback">
                    <div *ngIf="address.errors.required">{{'Field is Required' | translate}}</div>
                </div>
                
                
                
                <ion-item class="cs-select" [ngClass]="{'error':f.submitted && state?.invalid}">
                    <ion-label>{{'State' | translate}}*</ion-label>
                    <ionic-selectable
                    item-content 
                    [(ngModel)]="data.state" 
                    #state="ngModel"
                    [items]="states"
                    name="state"
                    itemValueField="state_name"
                    itemTextField="state_name"
                    [hasVirtualScroll]="true"
                    (onChange)="getDistrictList(data.state.state_name)"
                    [canSearch]="true" required>
                </ionic-selectable>
            </ion-item>
            <div *ngIf="f.submitted && state.invalid" class="invalid-feedback">
                <div *ngIf="state.errors.required">{{'Field is Required' | translate}}</div>
            </div>
            
            
            <ion-item class="cs-select" [ngClass]="{'error':f.submitted && district?.invalid}">
                <ion-label>{{'District' | translate}}*</ion-label>
                <ionic-selectable
                item-content 
                [(ngModel)]="data.district" 
                #district="ngModel"
                [items]="districts"
                name="district"
                itemValueField="district_name"
                itemTextField="district_name"
                [hasVirtualScroll]="true"
                (onChange)="getCityList(data.district.district_name)"
                [canSearch]="true" required>
            </ionic-selectable>
        </ion-item>
        
        
        <div *ngIf="f.submitted && district.invalid" class="invalid-feedback">
            <div *ngIf="district.errors.required">{{'Field is Required' | translate}}</div>
        </div>
        
        
        <ion-item class="cs-select" [ngClass]="{'error':f.submitted && city?.invalid}">
            <ion-label>{{'City' | translate}}*</ion-label>
            <ionic-selectable
            item-content 
            [(ngModel)]="data.city" 
            #city="ngModel"
            [items]="citys"
            name="city"
            itemValueField="city_name"
            itemTextField="city_name"
            [hasVirtualScroll]="true"
            (onChange)="getZoneList(data.city.city_name)"
            [canSearch]="true" required>
        </ionic-selectable>
    </ion-item>
    <div *ngIf="f.submitted && city.invalid" class="invalid-feedback">
        <div *ngIf="city.errors.required">{{'Field is Required' | translate}}</div>
    </div>
    
    
    
    <!-- <ion-item class="cs-select" [ngClass]="{'error':f.submitted && state?.invalid}">
        <ion-label>{{'State' | translate}}*</ion-label>
        <ion-select [(ngModel)]="data.state" name="state" #state="ngModel" (ngModelChange)="getDistrictList(data.state)" required>
            <ion-option  [value]="row.state_name" *ngFor="let row of states">{{row.state_name}}</ion-option>
        </ion-select>
    </ion-item>
    <div *ngIf="f.submitted && state.invalid" class="invalid-feedback">
        <div *ngIf="state.errors.required">{{'Field is Required' | translate}}</div>
    </div>
    
    <ion-item class="cs-select" [ngClass]="{'error':f.submitted && district?.invalid}">
        <ion-label>{{'District' | translate}}*</ion-label>
        <ion-select [(ngModel)]="data.district" name="district" #district="ngModel"  (ngModelChange)="getCityList(data.district)" required>
            <ion-option  [value]="row.district_name" *ngFor="let row of districts">{{row.district_name}}</ion-option>
        </ion-select>
    </ion-item>
    <div *ngIf="f.submitted && district.invalid" class="invalid-feedback">
        <div *ngIf="district.errors.required">{{'Field is Required' | translate}}</div>
    </div>
    
    
    <ion-item class="cs-select" [ngClass]="{'error':f.submitted && city?.invalid}">
        <ion-label>{{'City' | translate}}*</ion-label>
        <ion-select  [(ngModel)]="data.city" name="city" #city="ngModel"  (ngModelChange)="getZoneList(data.city)" required>
            <ion-option [value]="row.city_name" *ngFor="let row of citys">{{row.city_name}}</ion-option>
        </ion-select>
    </ion-item>
    <div *ngIf="f.submitted && city.invalid" class="invalid-feedback">
        <div *ngIf="city.errors.required">{{'Field is Required' | translate}}</div>
    </div> -->
    
    <ion-item class="cs-input mt0" [ngClass]="{'error':f.submitted && sales_zone?.invalid}" hidden>
        <ion-label floating>{{ 'Sales Zone' | translate }}</ion-label>
        <ion-input type="text" name="sales_zone" [(ngModel)] = "data.sales_zone" #sales_zone="ngModel"  readonly></ion-input>
    </ion-item>
    
    <ion-item [ngClass]="{'error':f.submitted && pincode?.invalid}">
        <ion-label floating>{{'Pincode' | translate}}*</ion-label>
        <!-- (input)="getaddress(data.pincode)" -->
        <ion-input type="tel" name="pincode" [(ngModel)]="data.pincode" #pincode="ngModel" required maxlength="6" minlength="6" ></ion-input>
    </ion-item>
    <div *ngIf="f.submitted && pincode.invalid" class="invalid-feedback">
        <div *ngIf="pincode.errors.required">{{'Field is Required' | translate}}</div>
    </div>




	
    
        
        <ng-container *ngIf="data.user_type == 1 || data.user_type == 4 ">

       
        
    
        <ion-list-header class="form-heading">
           
                <ion-label>{{ 'Same as Communication Address' | translate }}</ion-label>
                <ion-checkbox color="dark" (ionChange)="onCheckSameAsAddressHandler($event)"></ion-checkbox>
             
        </ion-list-header>
        
        <ion-item [ngClass]="{'error':(f.submitted && permanent_address?.invalid) || (f.submitted && !permanent_address.valid)}">
            <ion-label floating>{{'Parmanent Address' | translate}}*</ion-label>
            <!-- required -->
            <ion-input type="text" name="permanent_address" #permanent_address="ngModel" [(ngModel)]="data.permanent_address" (ngModelChange)="caps_add2(data.permanent_address)" required></ion-input>
        </ion-item>
        <!-- <div *ngIf="f.submitted && permanent_address.invalid" class="invalid-feedback">
            <div *ngIf="permanent_address.errors.required">{{'Field is Required' | translate}}</div>
        </div> -->
        
        
        
        <ion-item class="cs-select" [ngClass]="{'error':f.submitted && permanent_state?.invalid}">
            <ion-label>{{'Parmanent State' | translate}}*</ion-label>
            <ionic-selectable
            item-content 
            [(ngModel)]="data.permanent_state" 
            #permanent_state="ngModel"
            [items]="per_states"
            name="permanent_state"
            itemValueField="state_name"
            itemTextField="state_name"
            [hasVirtualScroll]="true"
            (onChange)="getDistrictList2(data.permanent_state.state_name)"
            [canSearch]="true" required>
        </ionic-selectable>
    </ion-item>
    <div *ngIf="f.submitted && permanent_state.invalid" class="invalid-feedback">
        <div *ngIf="permanent_state.errors.required">{{'Field is Required' | translate}}</div>
    </div>
    
    
    <ion-item class="cs-select" [ngClass]="{'error':f.submitted && parmanent_district?.invalid}">
        <ion-label>{{'Parmanent District' | translate}}*</ion-label>
        <ionic-selectable
        item-content 
        [(ngModel)]="data.parmanent_district" 
        #parmanent_district="ngModel"
        [items]="per_districts"
        name="parmanent_district"
        itemValueField="district_name"
        itemTextField="district_name"
        [hasVirtualScroll]="true"
        (onChange)="getCityList2(data.parmanent_district.district_name)"
        [canSearch]="true" required>
    </ionic-selectable>
</ion-item>


<div *ngIf="f.submitted && parmanent_district.invalid" class="invalid-feedback">
    <div *ngIf="parmanent_district.errors.required">{{'Field is Required' | translate}}</div>
</div>


<ion-item class="cs-select" [ngClass]="{'error':f.submitted && permanent_city?.invalid}">
    <ion-label>{{'Parmanent City' | translate}}*</ion-label>
    <ionic-selectable
    item-content 
    [(ngModel)]="data.permanent_city" 
    #permanent_city="ngModel"
    [items]="per_citys"
    name="permanent_city"
    itemValueField="city_name"
    itemTextField="city_name"
    [hasVirtualScroll]="true"
    [canSearch]="true" required>
    
</ionic-selectable>
</ion-item>
<div *ngIf="f.submitted && permanent_city.invalid" class="invalid-feedback">
<div *ngIf="permanent_city.errors.required">{{'Field is Required' | translate}}</div>
</div>
    
<ion-item [ngClass]="{'error':f.submitted && permanent_pincode?.invalid}">
    <ion-label floating>{{'Parmanent Pincode' | translate}}*</ion-label>
    <ion-input type="tel" name="permanent_pincode" [(ngModel)]="data.permanent_pincode" #permanent_pincode="ngModel"  maxlength="6" minlength="6" required></ion-input>
</ion-item>
        
    
</ng-container>

    
    
        <ion-list-header class="form-heading">
            {{'Pan Card Information' | translate}}
        </ion-list-header>
        
        <div class="outer-doc">
            <div class="upload-document mt15" (click)="onUploadPan()">
                <p *ngIf="data.pan_img==''"><i class="material-icons">add_circle</i><br>{{'Upload Pan Card' | translate}}</p>
                <img src="{{data.doc_pan_id ? uploadurl+data.pan_img : data.pan_img}}" *ngIf="data.pan_img !='' ">
            </div>
        </div>
        <ion-item  [ngClass]="{'error':f.submitted && pan_no?.invalid}">
            <ion-label floating>{{'Pan Card Number' | translate}}*</ion-label>
            <ion-input type="text" name="pan_no" #pan_no="ngModel" [(ngModel)]="data.pan_no" class="uppercase"  pattern="[A-z]{5}[0-9]{4}[A-z]{1}" maxlength="10" minlength="10" required></ion-input>
        </ion-item>
        <div *ngIf="f.submitted && pan_no.invalid" class="invalid-feedback">
            <div *ngIf="pan_no.errors.required">{{'Field is Required' | translate}}</div>
        </div>
        <div *ngIf="pan_no.errors?.pattern" class="invalid-feedback">
            <div>{{'Invaild Pan Card Number' | translate}}</div>
        </div>
    
    
    
    <ng-container *ngIf="data.user_type == '1' || data.user_type == '4' || data.user_type == '2' ">
        <ion-list-header class="form-heading">
            {{'ID Proof Information' | translate}}
        </ion-list-header>
        
        <ion-item  [ngClass]="{'error':f.submitted && document_type?.invalid}">
            <ion-label floating>{{'Select ID Proof' | translate}}</ion-label>
            <ion-select name="document_type" [(ngModel)]="data.document_type" #document_type="ngModel">
                <ion-option  value="None" (ionSelect)="noDocument()">{{'None' | translate}}</ion-option>
                <ion-option  value="Adhaar card">{{'Aadhaar card' | translate}}</ion-option>
                <!-- <ion-option  value="Pan Card">{{'Pan Card' | translate}}</ion-option> -->
                <ion-option  value="Driving License">{{'Driving License' | translate}}</ion-option>
                <ion-option  value="Voter Card">{{'Voter Card' | translate}}</ion-option>
                <!-- <ion-option  value="Bank Passbook">{{'Bank Passbook' | translate}}</ion-option> -->

            </ion-select>
        </ion-item>
        
        <div class="outer-doc" *ngIf="data.document_type == 'Adhaar card' || data.document_type == 'Voter Card' || data.document_type == 'Pan Card' || data.document_type == 'Bank Passbook' || data.document_type == 'Driving License'">
            <div class="upload-document" (click)="onUploadChange()">
                <p *ngIf="data.document_image==''">
                    <ng-container *ngIf="data.document_type != 'Adhaar card'">
                        <i class="material-icons">add_circle</i><br>{{'Upload ID Proof' | translate}}
                    </ng-container>
                    <ng-container *ngIf="data.document_type == 'Adhaar card'"> <i class="material-icons">add_circle</i><br>{{'Upload Aadhaar card front side' | translate}}</ng-container>
                    
                    
                </p>
                
                <!-- <img *ngIf="data.document_image != ''" [src]="data.document_image" alt="" required> -->
                <img src="{{data.doc_edit_id ? uploadurl+data.document_image : data.document_image}}" *ngIf="data.document_image != ''">
                
                
            </div>
            <div class="upload-document mt15" (click)="onUploadBackChange()" *ngIf="data.document_type == 'Adhaar card'">
                <p *ngIf="data.document_image_back==''"><i class="material-icons">add_circle</i><br>{{'Upload Aadhaar card back side' | translate}}</p>
                <img src="{{data.doc_back_edit_id ? uploadurl+data.document_image_back : data.document_image_back}}" *ngIf="data.document_image_back != ''">
            </div>
        </div>
        
        <ion-item  *ngIf="data.document_type=='Adhaar card'" [ngClass]="{'error':f.submitted && document_no?.invalid}">
            <ion-label floating>{{'Aadhaar Number' | translate}}*</ion-label>
            <ion-input type="tel" name="document_no" #document_no="ngModel" [(ngModel)]="data.document_no" maxlength="12" minlength="12" required></ion-input>
        </ion-item>
        
        
        
        <ng-container *ngIf="data.document_type=='Voter Card'">
            <ion-item [ngClass]="{'error':f.submitted && document_no?.invalid}">
                <ion-label floating>{{'Voter Card Number' | translate}}*</ion-label>
                <ion-input type="text" name="document_no" #document_no="ngModel" pattern="[A-Z]{3}[0-9]{7}" [(ngModel)]="data.document_no" required></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && document_no.invalid" class="invalid-feedback">
                <div *ngIf="document_no.errors.required">{{'Field is Required' | translate}}</div>
            </div> 
            <div *ngIf="document_no.errors?.pattern" class="invalid-feedback">
                <div>{{'Invaild Voter Card Number' | translate}}</div>
            </div>
        </ng-container>
        <ng-container *ngIf="data.document_type=='Driving License'">
            <ion-item [ngClass]="{'error':f.submitted && document_no?.invalid}">
                <ion-label floating>{{'Driving license Number' | translate}}*</ion-label>
                <ion-input type="text" name="document_no" #document_no="ngModel" pattern="^(([A-Z]{2}[0-9]{2})( )|([A-Z]{2}-[0-9]{2}))((19|20)[0-9][0-9])[0-9]{7}$" maxlength="16" minlength="16"  [(ngModel)]="data.document_no" required></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && document_no.invalid" class="invalid-feedback">
                <div *ngIf="document_no.errors.required">{{'Field is Required' | translate}}</div>
            </div>
            <div *ngIf="document_no.errors?.pattern" class="invalid-feedback">
                <div>{{'Invaild Driving license Number' | translate}}</div>
            </div>
        </ng-container>
    </ng-container>
    
    <ng-container *ngIf="data.karigar_edit_id">
        <ion-list-header class="form-heading">
            {{'Bank Information' | translate}}
        </ion-list-header>
        
        <ion-item [ngClass]="{'error':f.submitted && account_holder_name?.invalid}">
            <ion-label floating>{{'Account Holder Name' | translate}}</ion-label>
            <ion-input type="text"  name="account_holder_name"  ng-pattern-restrict #account_holder_name ="ngModel" [(ngModel)]="data.account_holder_name "></ion-input>
        </ion-item>
        
        
        <ion-item [ngClass]="{'error':f.submitted && bank_name?.invalid}">
            <ion-label floating>{{'Bank Name' | translate}}</ion-label>
            <ion-input type="text"  name="bank_name "  ng-pattern-restrict #bank_name ="ngModel" [(ngModel)]="data.bank_name "></ion-input>
        </ion-item>
        
        
        <ion-item>
            <ion-label floating>{{'Account Number' | translate}}</ion-label>
            <ion-input type="tel" name="account_no " #account_no ="ngModel" [(ngModel)]="data.account_no" minlength="9" maxlength="18" (focusout)="check_bank_account(data.confirm_account)"></ion-input>
        </ion-item>
        
        <ion-item >
            <ion-label floating>{{'Confirm Account Number' | translate}}</ion-label>
            <!--  -->
            <ion-input type="tel" name="confirm_account " #confirm_account ="ngModel" [(ngModel)]="data.confirm_account"  minlength="9" maxlength="18" ></ion-input>
        </ion-item>
        
        
        <ion-item [ngClass]="{'error':f.submitted && ifsc_code?.invalid}">
            <ion-label floating>{{'IFSC Code' | translate}}</ion-label>
            <ion-input type="text" class="uppercase"  name="ifsc_code " #ifsc_code ="ngModel" [(ngModel)]="data.ifsc_code" maxlength="11" minlength="11"  pattern="^[A-z]{4}[0][A-z0-9]{6}$"></ion-input>
        </ion-item>	
        <div *ngIf="ifsc_code.errors?.pattern" class="invalid-feedback">
            <div>{{'Invaild IFSC Code' | translate}}</div>
        </div>

        <div class="outer-doc">
            <div class="upload-document mt15" (click)="onUploadChequeImg()">
                <p *ngIf="data.cheque_image==''"><i class="material-icons">add_circle</i><br>{{'Upload Passbook/Canceled Cheque Image' | translate}}</p>
                <img src="{{data.cheque_image_id ? uploadurl+data.cheque_image : data.cheque_image}}" *ngIf="data.cheque_image !='' ">
            </div>
        </div>
    </ng-container>
    
    <!--            
        <ion-list-header class="form-heading">
            {{'Dealer Information' | translate}}
        </ion-list-header>
        
        <ion-item [ngClass]="{'error':f.submitted && parent_counter_name?.invalid}">
            <ion-label floating>{{'Counter Name'}}*</ion-label>
            <ion-input type="text" name="parent_counter_name " pattern="[a-zA-Z ]+" ng-pattern-restrict #parent_counter_name="ngModel" [(ngModel)]="data.parent_counter_name" required></ion-input>
        </ion-item>
        
        <ion-item [ngClass]="{'error':f.submitted && parent_counter_contact_person  ?.invalid}">
            <ion-label floating>{{'Contact Person'}}*</ion-label>
            <ion-input type="text" name="parent_counter_contact_person " #parent_counter_contact_person="ngModel" [(ngModel)]="data.parent_counter_contact_person" required></ion-input>
        </ion-item>
        <ion-item class="cs-input mb0" [ngClass]="{'error':f.submitted && parent_counter_mobile?.invalid}">
            <ion-label floating>{{'Mobile No'}}*</ion-label>
            <ion-input type="tel" name="parent_counter_mobile " #parent_counter_mobile="ngModel" [(ngModel)]="data.parent_counter_mobile" maxlength="10" minlength="10" required></ion-input>
        </ion-item> -->
        
        
        <ion-list-header class="form-heading" *ngIf="!data.id">
            {{'Referral Code' | translate}}
        </ion-list-header>
        <ion-item *ngIf="!data.id">
            <ion-label floating>{{'Referral Code' | translate}}</ion-label>
            <ion-input type="text" name="referral_code " #referral_code="ngModel" [(ngModel)]="data.referral_code "></ion-input>
        </ion-item>
        
    </ion-list>
    
    
    
    
    <!-- /////// Importaint //////////// -->
    
    
    <!-- <ng-container *ngIf="data.user_type=='1' || data.user_type=='4'">
        <div class="heading line" >
            <p >{{'Dealer Information'}}</p>
        </div>
        
        <div class="ragistration-fields">
            <div class="cs-form">
                <ion-list>
                    <ion-item class="cs-input">
                        <ion-label floating>{{'Counter Name'}}</ion-label>
                        <ion-input type="text" name="parent_counter_name " pattern="[a-zA-Z ]+" ng-pattern-restrict #parent_counter_name="ngModel" [(ngModel)]="data.parent_counter_name "></ion-input>
                    </ion-item>
                    
                    <ion-item class="cs-input">
                        <ion-label floating>{{'Contact Person'}}</ion-label>
                        <ion-input type="text" name="parent_counter_contact_person " #parent_counter_contact_person="ngModel" [(ngModel)]="data.parent_counter_contact_person"></ion-input>
                    </ion-item>
                    <ion-item class="cs-input mb0" [ngClass]="{'error':f.submitted && parent_counter_mobile?.invalid}">
                        <ion-label floating>{{'Mobile No'}}.</ion-label>
                        <ion-input type="tel" name="parent_counter_mobile " #parent_counter_mobile="ngModel" [(ngModel)]="data.parent_counter_mobile" maxlength="10" minlength="10"></ion-input>
                    </ion-item>
                    <ion-item class="cs-input">
                        <ion-label floating>{{'Address'}}</ion-label>
                        <ion-input type="text" name="dealer_address " #dealer_address="ngModel" [(ngModel)]="data.dealer_address"></ion-input>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ng-container> -->
    
    
    <button ion-button full  *ngIf="mode === 'otp_page'">{{'Continue' | translate}}</button>
    <button ion-button full  *ngIf="mode === 'edit_page'">{{'Update' | translate}}</button>
    <button ion-button full  *ngIf="mode === 'redeem_page'">{{'Update' | translate}}</button>
    <!-- <button ion-button full  *ngIf="data.edit_profile">{{'Update' | translate}}</button> -->
    
</form>
</div>
</ion-content>